/* src/components/Home.css */

.home-container {
  text-align: center;
  padding: 50px 20px;
}

.home-header {
  font-size: 2.1rem;
  color: #fff; /* Change text color to white */
  margin-bottom: 20px;
}

.home-intro {
  font-size: 1.2rem;
  color: #fff; /* Change text color to white */
  max-width: 600px;
  margin: 0 auto;
}
